.sidebar{
    border-radius: 10px;
background: #FFF;
box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
min-width: 343px;
}
.sidebar {
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    left: 50px; /* Adjust this value to position the icon correctly */
    top:3.65%;
    transform: translateY(-50%);
    color: #999; /* Change the color to suit your design */
  }
  
  .searchType {
    padding-left: 40px; /* Adjust this value to ensure text doesn't overlap the icon */
    width: 100%;
    box-sizing: border-box;
  }
  .searchType::placeholder {
    color: #999; /* Change this color to whatever you prefer */
    padding-left: 40px; /* Add padding to shift placeholder text to the right */
    opacity: 1; /* Ensures the color is not faded */
  }
  
  /* Placeholder styling */
  .searchType::placeholder {
    color: #999; /* Change this color to whatever you prefer */
    opacity: 1; /* Ensures the color is not faded */
  }
  
.searchType{
    border-radius: 50px;
border: 0.25px solid rgba(0, 0, 0, 0.50);
background: #FFF;
box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
width: 100%;
height: 50px;
margin-top: 30px;
}
.Elements{
    display: flex;
}

.image{
    width: 34px;
    height: 34px;
}

.Elements p{
    color: #000;
font-family: Poppins;
font-size: 13.875px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.styleBtn{
    color: #FFF;
font-family: Poppins;
font-size: 18.157px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.Parant{
    border-radius: 14.526px;
background: linear-gradient(180deg, #74CC7E 0%, #00818A 100%);
padding-top: 10px;
display: flex;
justify-content: center;
align-items: center;
width: 199px;
height: auto;
}






@media (max-width:1025px){
    .sidebar{
        max-width: 100%;
        min-width: 100%;
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }
    .sidebarscroll{
        max-width: 100%;
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:770px){
    .sidebar{
        max-width: 100%;
        min-width: 100%;
        display:none;
       

    }
}