.box {
  border-radius: 10px;
  background: #fff;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);

  /* padding: 40px 13px 13px 31px; */
}

.styleBtn {
  border-radius: 20px;
  background: linear-gradient(180deg, #74cc7e 0%, rgba(0, 129, 138, 0.7) 100%);
  display: flex;
  justify-content: center;
}

.styleBtn p {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.imageGalary {
  padding: 60px 0px 25px 61px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25),
    -2px -2px 5px 0px rgba(0, 0, 0, 0.25);
}

.imageGalary p {
  color: rgba(0, 0, 0, 0.4);
  font-family: Poppins;
  font-size: 9.867px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.imageGalary h4 {
  color: #000;
  font-family: Poppins;
  font-size: 13.156px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.imageCard {
  width: 77px;
}

.maria {
  color: #000;
  font-family: Poppins;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
}

.deals {
  color: rgba(0, 0, 0, 0.3);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sectionMaria {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 22px 28px;
}

@media (max-width: 500px) {
  .profile-box {
    margin-left: 0px;
  }
}
